{% extends 'base.html.twig' %}

{% block body %}
	<h2>Todos</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Category</th>
				<th>Priority</th>
				<th>Due Date</th>
				<th>Creation Date</th>
				<th>Actions</th>
				<th>Author</th>
			</tr>
		</thead>
		<tbody>
			{% for todo in todos %}
				<tr>
					<th>{{todo.name}}</th>
					<th>{{todo.category}}</th>
					<th>{{todo.priority}}</th>
					<th>{{todo.dueDate|date('d-m-Y H:m')}}</th>
					<th>{{todo.creationDate|date('d-m-Y')}}</th>
					<th><a href="{{ path('todolist_detail', {'id': todo.id}) }}" class="btn btn-info">View</a>
					<a href="{{ path('todolist_edit', {'id': todo.id}) }}" class="btn btn-success">Edit</a>
					<a href="{{ path('todolist_delete', {'id': todo.id}) }}" class="btn btn-danger">Delete</a></th>
					<th>{{todo.user.username}}</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
